<div class="lista">

    <div style="display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap;">
        <div class="input">
            <input type="text" ng-model="$ctrl.filtro">
            <label for="">Buscar Producto</label>
        </div>
        <select style="max-width: 300px; margin: 10px" name="" id="" ng-model="$ctrl.sucursal"
                ng-options="sucursal.nombre for sucursal in $ctrl.sucursales"
                ng-change="$ctrl.getData();"></select>
    </div>
    <table>
        <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad Total</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="row in $ctrl.stocks | filter:$ctrl.filtro"
            ng-click="$ctrl.stock=row;$ctrl.detailsOpen = true;">

            <td class="">{{row.nombre}}</td>
            <td class="">{{row.cantidad}}</td>
        </tr>
    </table>

</div>
<ac-blocker blocker-click="$ctrl.pedido = {}; $ctrl.detailsOpen = false;" visibility="$ctrl.detailsOpen"></ac-blocker>
<form class="form details" form-id="pago-proveedores"
      ng-class="{'details-open':$ctrl.detailsOpen}">
    <div class="detalle-container">
        <table>
            <thead>
            <tr>
                <th>Producto</th>
                <th>Costo Unitario</th>
                <th>Cantidad Total</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="row in $ctrl.stock | filter:$ctrl.filtro">

                <td class="">{{row.nombre}}</td>
                <td class="">{{row.costo_uni}}</td>
                <td class="">{{row.cantidad}}</td>
            </tr>
        </table>
        <div class="botonera">
            <button ng-click="$ctrl.detailsOpen =false; $ctrl.stock = {}">Cerrar</button>
        </div>
    </div>
</form>



