<div class="container container-bgk container-padding">
    <h1 class="secciones">Platos Más Vendidos</h1>
    <form id="masVendidoForm" class="container-form" form-id="mv-mas-vendido">
        <div class="form-container-wrapper">
            <div class="form-flex-between">
                <div class="input">
                    <label for="origen">Sucursal</label>
                    <select name="origen" id="origen" ng-model="$ctrl.sucursal"
                            ng-options="sucursal as sucursal.nombre for sucursal in $ctrl.sucursales"
                            ng-change="$ctrl.loadStockPorSucursal();$ctrl.excelToDonwload='';" >
                    </select>
                </div>

                <div class="form-flex-between" style="margin-top: 30px;">
                    <button class="btn-excel" ng-click="$ctrl.tableToExcel();">Generar Excel</button>
                </div>
            </div>
            <div class="botonera">
                <button class="btn-agregar" ng-click="$ctrl.getPlatoMasVendido();">Boton</button>
            </div>
        </div>
    </form>

    <table id="tablaPlatos">
        <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Sucursal</th>
            <th>Fecha</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $ctrl.platos | filter:$ctrl.filtro">
            <td class="">{{row.nombre}}</td>
            <td class="">{{row.cantidad}}</td>
            <td class="">{{row.sucursal}}</td>
            <td class="">{{row.fecha}}</td>
        </tr>
        </tbody>
    </table>
</div>
